* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
}

.pagination {
  width: 500px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 1px solid #087f5b;
  color: #087f5b;
}

.btn:hover {
  background-color: #087f5b;
  border: 1px solid #087f5b;
  color: white;
}

.btn--icon {
  height: 24px;
  width: 24px;
}

.page-link:link,
.page-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-decoration: none;
  color: black;
}

.page-link:hover,
.page-link:active,
.page-link.active{
  background-color: #087f5b;
  color: white;
}
