<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Accordion Component</title>
  <link rel="stylesheet" href="css/accordion.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="accordion">
  <div class="item">
    <p class="number">01</p>
    <p class="text">Where are these chairs assembled?</p>
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none" viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="icon">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
    </svg>
    <div class="hidden-box">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
      <ul>
        <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.
        </li>
        <li>Cupidatat non proident, sunt in culpa qui officia did est laborum.
        </li>
        <li>Excepteur sinton proident, sunt in culpa qui officia deserunt
        </li>
        <li>Excep occaecat cupidatat non proident, sunt
        </li>
      </ul>
    </div>

  </div>
  <div class="item open">
    <p class="number">02</p>
    <p class="text">How long do I have to return my chair</p>
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none" viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="icon">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
    </svg>
    <div class="hidden-box">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
      <ul>
        <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.
        </li>
        <li>Cupidatat non proident, sunt in culpa qui officia did est laborum.
        </li>
        <li>Excepteur sinton proident, sunt in culpa qui officia deserunt
        </li>
        <li>Excep occaecat cupidatat non proident, sunt
        </li>
      </ul>
    </div>

  </div>
  <div class="item">
    <p class="number">03</p>
    <p class="text">Do you ship to countries outside the EU</p>
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none" viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="icon">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5"/>
    </svg>
    <div class="hidden-box">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
      <ul>
        <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.
        </li>
        <li>Cupidatat non proident, sunt in culpa qui officia did est laborum.
        </li>
        <li>Excepteur sinton proident, sunt in culpa qui officia deserunt
        </li>
        <li>Excep occaecat cupidatat non proident, sunt
        </li>
      </ul>
    </div>

  </div>
</div>


</body>

</html>
