@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap);

:root {
  --color-primary: rgb(230, 126, 34);
  --color-primary-var: rgb(235, 152, 78);
  --color-primary-dark: #cf711f;
  --color-on-primary-alt: #45260a;
  --color-tint: #fdf2e9;
  --color-tint-dark: #fae5d3;
  --color-grey: #555;
  --color-grey-dark: #333;

  --color-tag-green: #51cf66;
  --color-tag-lime: #a9e34b;
  --color-yellow-accent: #ffd43b;

  --border-radius-default: 9px; /* not animatable with px */
  --border-radius-md: 11px;

  --line-height-default: 1;
  --line-height-sm: 1.05;
  --line-height-sm-md: 1.2;
  --line-height-md: 1.6;
  --line-height-md-lg: 1.8;

  --icon-size-feature: 3.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px (default) = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/******************************/
/* region General Components */
/******************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 6.4rem;
  margin-bottom: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3.0rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary-dark);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 600;
  text-align: center;

  transition:
    background-color .5s,
    box-shadow .5s,
    color .5s,
    outline .5s;

  /* For actual <button> elements */
  border:none;
  cursor: pointer;
  font-family: inherit;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: white;
}
.btn--full:hover {
  background-color: var(--color-primary-dark);
  /*background-color: red;*/
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
  box-shadow: inset 0 0 0 3px white;
}

.btn--outline:hover {
  background-color: #fdf2e9;
}

/*.btn--outline:focus {*/
/*  outline: none;*/
/*  box-shadow: 0 0 0 3px red;*/
/*}*/

.btn--form {
  background-color: var(--color-on-primary-alt);
  color: var(--color-tint);
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: var(--color-grey)
}

.link:link,
.link:visited {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition:
    color .3s,
    border-bottom .3s;
}

.link:hover,
.link:active {
  color: var(--color-primary-dark);
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.0rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
}

*:focus {
  outline: none;

  /*outline: 4px dotted var(--color-primary);*/
  /*outline-offset: 8px;*/

  box-shadow: 0 0 0 0.8rem rgba(207, 113, 31, 0.5);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}
/* endregion general components */